In [2]:
import pandas as pd
from sklearn import linear_model

In [6]:
df = pd.read_csv("homeprices_2.csv")

In [7]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [8]:
df.bedrooms.median()

4.0

In [9]:
df['bedrooms'].median()

4.0

In [10]:
df['bedrooms'].fillna(df['bedrooms'].median())

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [11]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [12]:
df['bedrooms']=df['bedrooms'].fillna(df['bedrooms'].median())

In [13]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [17]:
x=df.drop('price',axis='columns')#axis =1 indicates axis by which we need to cut is columns

In [18]:
x

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [20]:
y=df['price']
y

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [25]:
reg=linear_model.LinearRegression()

In [26]:
reg.fit(x,y)

LinearRegression()

In [30]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [31]:
reg.intercept_

221323.00186540384

In [34]:
reg.predict([[3000,3,40]])

array([498408.25158031])

In [35]:
reg.predict([[3000,3,15]])

array([579201.19929613])

In [36]:
reg.predict([[3000,4,15]])

array([602590.07937407])

In [38]:
reg.predict([[100,1,12]])

array([217137.51123396])

In [39]:
reg.predict([[1,1,1]])

array([241592.22647665])

In [40]:
reg.predict([[0,0,0]])

array([221323.0018654])